
version: "3.8"

services:
  board-mysql:
    image: mysql:8.0
    container_name: board-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: board
      MYSQL_ROOT_HOST: "%"
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - board-mysql-data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: board-adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - board-mysql

volumes:
  board-mysql-data:
